body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#table {
  margin: auto;
  margin-top: 1rem;
  border-collapse: collapse;
  width: 98%;
  max-width: 1200px;
  tr {
    td {
      border: 0.5px solid black;
      min-width: 5px;
      min-height: 5px;

      &.start-node {
        background-image: url(/assets/images/start.svg), none;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.target-node {
        background-image: url(/assets/images/target.svg), none;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.wall-node {
        background-image: url(/assets/images/wall.svg), none;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &.start-node {
    td:hover {
      background-image: url(/assets/images/start.svg), none;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.target-node {
    td:hover {
      background-image: url(/assets/images/target.svg), none;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.wall-node {
    td:hover {
      background-image: url(/assets/images/wall.svg), none;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#tools {
  font-size: 12px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  padding: 5px;
  max-width: 1200px;

  .tool {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgb(142, 140, 140);
    margin-bottom: 7px;
    color: rgb(101, 101, 101);
    width: 100px;
  }
}
