body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

nav#sidebar {
  background-color: rgb(177, 177, 177);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 400px;
  width: 45px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 100;
  &:hover {
    width: 200px;
  }
  div#node-buttons {
    width: 150px;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    div.tool {
      display: flex;
      flex-direction: row;
      align-items: center;

      border-bottom: 1px solid rgb(180, 180, 180);
      border-top: 1px solid rgb(180, 180, 180);
      border-radius: 0px;
      padding: 5px;
      span {
        padding-left: 10px;
        padding-top: 4px;
        text-align: center;
        width: 150px;
      }
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(134, 134, 134);
        border-top: 1px solid rgb(133, 133, 133);
        border-radius: 10px;
        padding: 5px;
      }
    }
  }
}

main {
  margin-left: 40px;
}

#table {
  margin: auto;
  margin-top: 1rem;
  border-collapse: collapse;
  width: 98%;
  max-width: 1400px;
  margin-bottom: 1rem;
  tr {
    td {
      border: 1px solid black;
      min-width: 5px;
      min-height: 5px;

      &.start-node {
        background-image: url(../images/start.svg), none;
        background-repeat: no-repeat;
        background-size: cover;
        animation: expanding 1s forwards;
      }

      &.target-node {
        background-image: url(../images/target.svg), none;
        background-repeat: no-repeat;
        background-size: cover;
        animation: expanding 1s forwards;
      }

      &.wall-node {
        background-image: url(../images/wall.svg), none;
        background-repeat: no-repeat;
        background-size: cover;
        animation: expanding 0.8s forwards;
      }

      &.visited {
        background-color: rgb(219, 219, 219);
        animation: visited 0.7s forwards;

        @keyframes visited {
          0% {
            transform: scale(0.1);
          }
          100% {
            transform: scale(1);
          }
        }
      }

      &.path-node {
        animation: path-node 1.2s forwards;

        @keyframes path-node {
          0% {
            transform: scale(1);
            background-color: rgb(4, 71, 255);
            transform: rotateZ(20deg);
          }
          50% {
            transform: scale(1.4);
            transform: rotateZ(-20deg);
          }
          100% {
            transform: scale(1);
            background-color: greenyellow;
            transform: rotateZ(0);
          }
        }
      }
    }
  }

  &.start-node {
    td:hover {
      background-image: url(../images/start.svg), none;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.target-node {
    td:hover {
      background-image: url(../images/target.svg), none;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.wall-node {
    td:hover {
      background-image: url(../images/wall.svg), none;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@keyframes expanding {
  0% {
    transform: scale(0.1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

div#logo {
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  width: 100%;
  min-width: 180px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  display: flex;
  justify-content: baseline;
  span {
    padding-left: 10px;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200px);
  }
  img {
    transform: translateX(-105px);
    transition: 0.7s;
  }
  &.open {
    justify-content: space-around;
    span {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
    img {
      transform: scaleX(-1);
    }
  }
}
